html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
/*
Header Section
*/
  .header {
    background-color: #f1f1f1;
    padding: 100px;
    text-align: center;
  }

/*
Navbar section
*/
  #navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  #navbar a.active {
    background-color: #07004a;
    color: white;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky {
    padding-top: 10px;
  }

/*
Div Grid for About Me Section
*/
  .parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    }
    
    .div1 { grid-area: 1 / 3 / 4 / 4; }
    .div2 { grid-area: 1 / 1 / 4 / 2; }
    .div3 { grid-area: 1 / 2 / 2 / 3; }
    .div4 { grid-area: 3 / 2 / 4 / 3; }
    .div5 { grid-area: 2 / 2 / 3 / 3; }

/*
Random Formatting for divs
*/

div {
    padding:10px;
}

/*
Dark Mode Section
*/
.body-dark-mode {
    background-color: #313639;
    color:#ffffff;
}
/*
Project cards section
*/
  .container {
    position: absolute;
    height: 300px;
    width: 600px;
    left: calc(50% - 300px);
    display: flex;
  }
  
  .card {
    display: flex;
    height: 280px;
    width: 200px;
    background-color: #17141d;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
  /*   margin-left: -50px; */
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
  }
  
  .card:not(:first-child) {
      margin-left: -50px;
  }
  
  .card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
  }
  
  .card:hover ~ .card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
  }
  
  .title {
    color: white;
    font-weight: 100;
    position: absolute;
    left: 20px;
    top: 15px;
    font-size: 30px;
    padding:10px;
  }

  .def {
    position:absolute;
    top: 100px;
    font-size: 15px;
    padding:10px;
  }

/*
Formatting Stuff
*/
  .nav {
    float:right;
  }
  .other {
    float:left;
  }
  